@import url('@/styles/fonts/font-inter.css');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-inter: 'Inter';

  --breakpoint-xs: 30rem;
}

.app-strip {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  width: 100%;
  max-width: 64rem;
}

:root {
  --el-text-color-regular-dark: #d2d6df;
  --el-border-radius-base: 8px;
}

/*
  Workaround: Force the ElMessageBox wrapper to appear above all other elements.

  In some cases, ElMessageBox might be visually overlapped by components like el-table.

  This CSS override ensures the message box stays on top by manually setting a high z-index.
  Use with caution, and only if adjusting the global z-index configuration is not feasible.
*/
.el-overlay-message-box {
  z-index: 2200;
  background-color: var(--el-overlay-color-lighter);
}
