@import url('@/styles/fonts/font-inter.css');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-inter: 'Inter';

  --breakpoint-xs: 30rem;
}

.app-strip {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  width: 100%;
  max-width: 64rem;
}

:root {
  --el-text-color-regular-dark: #d2d6df;
}
